*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: #ff6900;
    height: 4rem;
}

.flex{
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

.conteiner{
    width: 800px;
    margin: 0 auto;
}

.logo{
    width: 20%;
}

.menu{
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    font-weight: bold;
}

.icone{
    color: white;
    padding-right: 0.5rem;
}



.img-vestiti{
    width: 32%;
    margin-right: 0.5rem;
}

.sezione{
    text-align: center;
    /* margin-top: 5rem; */
    /* margin-bottom: 5rem; */
    margin: 5rem auto;
}

.inline-block{
    position: absolute;
    left: 0;
    top: 100%;
    text-align: left;
}


.p-relative{
    position: relative;
    display: inline;
}






.colore-red{
    color: red;

}

.linea{
    text-decoration: line-through;
}

.bold{
    font-weight: bold;
}

.cuore{

    position: absolute;
    right: 0.5rem;
    bottom: 20rem;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.sconto{

    position: absolute;
    left: 0;
    bottom: 1.5rem;
    background-color: red;
    color: white;
    padding: 0.3rem;
    font-size: 0.8rem;
}

.sostenibilità{

    padding: 0.3rem;
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem;
    background: green;
    font-size: 0.8rem;

}

.sostenibilità-solo {

    padding: 0.3rem;
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    background: green;
    font-size: 0.8rem;

}


footer {
    color: white;
    background-color: #1a1a1a;
    height: 5.5rem;
}

.flex-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finale{
    padding-top: 1rem;
}

.finale2{
    margin-top: 0.8rem;
}

.icone-footer{

    width: 1rem;
    background-color: white;
    margin-left: 0.5rem;
}

.info{
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    font-size: 0.8rem;
}


span.cuore:hover{
    color: red;
}

div.p-relative:hover img.uno{

    content: url(../img/1b.webp);

}

div.p-relative:hover img.due{

    content: url(../img/2b.webp);

}

div.p-relative:hover img.tre{

    content: url(../img/3b.webp);

}

div.p-relative:hover img.quattro {

    content: url(../img/4b.webp);

}

div.p-relative:hover img.cinque {

    content: url(../img/5b.webp);

}

div.p-relative:hover img.sei {

    content: url(../img/6b.webp);

}