*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: #ff6900;
    height: 4rem;
}

.flex{
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

.conteiner{
    width: 800px;
    margin: 0 auto;
}

.logo{
    width: 20%;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    font-weight: bold;
}

.icone{
    color: white;
    padding-right: 0.5rem;
}



.img-vestiti{
    width: 32%;
}

.sezione{
    text-align: center;
    /* margin-top: 5rem; */
    /* margin-bottom: 5rem; */
    margin: 5rem auto;
}

.inline-block{
    position: absolute;
    left: 0;
    top: 100%;
    text-align: left;
}


.p-relative{
    position: relative;
    display: inline;
}

.margine-destra{
    margin-right: 0.5rem;
}


footer{
    background-color: #1a1a1a;
}

.colore-red{
    color: red;

}

.linea{
    text-decoration: line-through;
}

.bold{
    font-weight: bold;
}