*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: #ff6900;
    height: 4rem;
}

.flex{
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

.conteiner{
    width: 800px;
    margin: 0 auto;
}

.logo{
    width: 20%;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    font-weight: bold;
}

.icone{
    color: white;
    padding-right: 0.5rem;
}

.centrale{
    margin: 0 0.5rem;
}

.img-vestiti{
    display: inline-block;
    width: 32%;
}

.prima-sezione{
    text-align: center;
    margin-top: 3rem;
}